<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timur.labvacancies">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".StartApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Vacancies"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="Vacancies" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.VacanciesActivity"
            android:label="@string/daily"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.BodyDetailActivity"
            android:label="@string/vacancies"></activity>
        <activity android:name=".ui.FavouriteVacanciesActivity"
            android:label="@string/favorite">

        </activity>
    </application>

</manifest>